[mysqld]
basedir=MYSQL_INSTALL_DST
datadir=MYSQL_DATA_DST
socket=MYSQL_DATA_DST/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

bind-address=127.0.0.1

[mysqld_safe]
pid-file=MYSQL_DATA_DST/mysqld.pid

log-error=/var/log/mysql/mysqld.log

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

